@import '../utils/variables';
@import '../utils/mixins';

@import '../components/type';


.nav {
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  width: 75%;
  border-radius: 50px;
  backdrop-filter: blur(25px);
  padding: 1rem 1rem 1rem 1.5rem;
  border: $border solid transparent;
  z-index: 1000;
  &__left {
    display: flex;
    align-items: center;
    gap: 4rem;
  }
  &__logo {
    font-family: 'Unbounded', sans-serif;
    font-size: 20px;
    font-weight: 900;
    color: $text-color;
    text-decoration: none;
    letter-spacing: -1.2px; 
  }
  &__ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 2rem;
  }
  &__el {
    a {
      @include nav-links(15px, .7);
    }
  }
  &__cta {
    @include cta();
  }
}