@font-face {
  font-family: 'Red Hat Display';
  src: url(../../assets/fonts/RedHatDisplay-VariableFont_wght.ttf) format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Unbounded';
  src: url(../../assets/fonts/Unbounded-VariableFont_wght.ttf) format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  font-size: clamp(1rem, 0.875rem + 0.4167vw, 1.25rem);
}

h1 {
  font-size: clamp(3.1875rem, 1.2813rem + 6.3542vw, 7rem);
  font-weight: 900;
  line-height: .9;
  margin: 0;
}