@import '../utils/variables';

@import '../components/type';

:root {
  --color1: rgba(32, 20, 50, 1);
  --color2: #141F32;
  --bg-color: rgba(13, 15, 21, 1);
}

html, body {
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.hero {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(ellipse, var(--color1) 0%, var(--bg-color) 100%);
  overflow: hidden;
  max-width: 100%;
  &__h1 {
    @include gradient-text(#524DD7, #BE45FF);
    letter-spacing: -2.24px;
    display: inline-block;
    margin: .5em 0;
    span {
      display: flex;
      justify-content: center;
      text-align: center;
    }
  }
  &__span {
    padding-bottom: .5rem;
    max-width: 80%;
    text-align: center;
    &--bold {
      font-weight: 900;
    }
  }
}

.highlights {
  min-height: 100vh;
  margin-left: 10%;
  margin-right: 10%;
  z-index: 999;
  position: relative;
  @media screen and (max-width: 768px) {
    margin-left: 5%;
    margin-right: 5%;
  }
  &__item {
    display: flex;
    flex-direction: row;
    gap: 10rem;
    align-items: center;
    margin-bottom: 72px;
    &:nth-child(even) {
      flex-direction: row-reverse;
    }
    @media (min-width: 768px) and (max-width: 1024px) {
      gap: 5rem;    
    }
    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 2rem;
      margin-bottom: 40px;
      &:nth-child(even) {
        flex-direction: column;
      }
    }
  }
  &__content {
    max-width: 40%;
    @media screen and (max-width: 768px) {
      max-width: 100%;
    }
  }
  &__h3 {
    position: relative;
    width: fit-content;
    margin: 0;
    &::after {
      @include gradient-line($purple);
    }
    &--blue {
      &::after {
        @include gradient-line($blue);
      }
    }
    &--green {
      &::after {
        @include gradient-line($green);
      }
    }
  }
  
  &__p {
    margin-top: 2.5rem;
    font-weight: 700;
  }
  &__ul {
    padding: 0;
    margin: 0;
    margin-top: 1.5rem;
    li {
      margin-bottom: .5rem;
    }
  }
  &__img {
    width: 100%;
    height: fit-content;
    flex: 1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.stats {
  max-width: 100vw;
  margin: 0 1rem;
  &__items {
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1rem;
    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 2rem;
    }
    li {
      padding: 32px 48px;
      border-radius: 13px;
      transition: all .3s ease;
      background-color: $bg-color;
      position: relative;
      @include gradient-border($purple-gradient, .4rem, $purple);
      &:nth-of-type(2) {
        @include gradient-border($blue-gradient, .4rem, $blue);
      }
      &:nth-of-type(3) {
        @include gradient-border($green-gradient, .4rem, $green);
      }
    }
  }
  &__h3 {
    margin: 0;
    margin-bottom: 1rem;
  }
  &__p {
    margin: 0;
  }
}
  
.cta {
  &__h2 {
    margin: 0;
    margin-bottom: 4rem;
    text-align: center;
    @media screen and (max-width: 768px) {
      margin-bottom: 2rem;
    }
  }
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 1rem;
    }
  }
  &__button {
    @include cta();
  }
}

.testimonials {
  margin: 0 1rem;
  &__h2 {
    margin: 0;
    margin-bottom: 4rem;
    text-align: center;
    @media screen and (max-width: 768px) {
      margin-bottom: 2rem;
    }
  }
  &__ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
    list-style-type: none;
    padding: 0;
    width: 100%;
    @media screen and (max-width: 768px) {
      gap: 3rem;
    }
    @for $i from 1 through 5 {
      li:nth-child(#{$i}) {
        width: 72px;
        height: 72px;
        background-size: contain;
        filter: invert(1);
        @media screen and (max-width: 1024px) {
          width: 48px;
          height: 48px;
        }
      }
    }
    li:nth-child(1) {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M17.243 3.006c2.066 0 3.742 8.714 3.742 19.478H24c0-11.588-3.042-20.968-6.766-20.968c-2.127 0-4.007 2.81-5.248 7.227c-1.241-4.416-3.121-7.227-5.231-7.227C3.031 1.516 0 10.888 0 22.476h3.014c0-10.763 1.658-19.47 3.724-19.47s3.741 8.05 3.741 17.98h2.997c0-9.93 1.684-17.98 3.75-17.98Z'/%3E%3C/svg%3E");
    }
    li:nth-child(2) {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M13.207 5.28c-.105-.019-.612-.104-1.207-.104s-1.102.085-1.207.104c-.06.01-.084-.048-.038-.083c.042-.03 1.245-.946 1.245-.946l1.244.946c.047.035.024.094-.037.083m-2.078 5.945s-.064.023-.08.079c.252.193.425.634.951.634s.7-.44.951-.635c-.016-.056-.08-.078-.08-.078s-.33.077-.871.077c-.542 0-.871-.077-.871-.077m.871-.742c-.146 0-.178-.055-.278-.055c-.094 0-.279.076-.319.146a.15.15 0 0 0 .042.095c.212.031.309.15.555.15s.343-.119.556-.15a.16.16 0 0 0 .041-.095c-.04-.07-.224-.145-.319-.146c-.1 0-.132.055-.278.055m11.987 2.27a12 12 0 0 1-.076.853c-1.36.225-1.845-.986-3.237-.925q.124.443.203.903c1.148 0 1.61 1.073 2.888.915q-.1.492-.242.97c-1.01.1-1.365-.904-2.534-.876q.015.249.015.504l-.005.28l2.27.866a12 12 0 0 1-.397.948c-.682-.037-.917-.912-1.955-.843a9 9 0 0 1-.118.665c.901-.063 1.095.767 1.74.834a12 12 0 0 1-.53.877c-.382-.205-.714-.823-1.44-.861a9 9 0 0 0 .196-.7c-.644 0-1.38-.25-1.996-.812c.2-1.14-1.568-2.299-1.568-3.133c0-.906.458-1.407.458-2.628c0-.907-.44-1.89-1.104-2.562a2.2 2.2 0 0 0-.411-.33c.61.754 1.078 1.649 1.078 2.685c0 1.15-.535 1.757-.535 2.819c0 1.061 1.553 1.98 1.553 3.074c0 .43-.138.85-.592 1.677c.697.696 1.605 1.076 2.19 1.076c.19 0 .293-.058.361-.207a9 9 0 0 0 .167-.391c.63.024.92.597 1.269.826q-.288.387-.604.746c-.234-.259-.549-.695-1.01-.816a9 9 0 0 1-.26.473c.396.108.667.508.877.771a12 12 0 0 1-.707.676c-.153-.239-.392-.541-.66-.704a8 8 0 0 1-.307.39c.227.155.428.432.559.658q-.424.341-.88.645c-.15-1.22-1.814-2.055-1.365-3.47c-.147.25-.323.561-.323.937c0 1.024 1.09 1.836 1.178 2.854q-.34.202-.693.383c-.04-1.119-1.194-2.343-1.194-3.26c0-1.025 1.342-2.055 1.342-3.264c0-1.21-1.549-2.049-1.549-3.111s.659-1.673.659-3.035c0-.997-.474-2.006-1.206-2.65a2 2 0 0 0-.41-.286c.69.828 1.09 1.58 1.09 2.719c0 1.28-.755 1.99-.755 3.244s1.52 1.95 1.52 3.12c0 1.168-1.414 2.152-1.414 3.353c0 1.092 1.246 2.182 1.265 3.477a12 12 0 0 1-.833.326c.159-1.309-1.245-2.659-1.245-3.727c0-1.167 1.467-2.171 1.467-3.43s-1.491-1.845-1.491-3.138s.915-2.007.915-3.435a3.48 3.48 0 0 0-1.352-2.734l-.051-.038c-.076-.056-.138.011-.084.078c.568.71.872 1.427.872 2.49c0 1.305-1.052 2.366-1.052 3.632c0 1.493 1.412 1.92 1.412 3.145s-1.514 2.205-1.514 3.505c0 1.206 1.433 2.545 1.187 3.937a12 12 0 0 1-.874.192c.269-1.733-1.137-2.978-1.137-4.112c0-1.228 1.568-2.322 1.568-3.522c0-1.131-1.125-1.501-1.273-2.659c-.02-.158-.147-.275-.322-.246c-.229.042-.522.192-.982.192s-.753-.15-.982-.192c-.174-.029-.301.088-.321.246c-.148 1.158-1.274 1.527-1.274 2.66c0 1.199 1.568 2.293 1.568 3.52c0 1.135-1.405 2.38-1.137 4.113a12 12 0 0 1-.874-.192c-.246-1.392 1.187-2.73 1.187-3.937c0-1.3-1.514-2.28-1.514-3.505s1.412-1.652 1.412-3.145c0-1.266-1.051-2.326-1.051-3.633c0-1.062.303-1.78.872-2.49c.053-.066-.009-.133-.085-.077l-.05.038a3.48 3.48 0 0 0-1.351 2.732c0 1.428.915 2.143.915 3.436c0 1.292-1.492 1.878-1.492 3.138c0 1.258 1.467 2.262 1.467 3.43c0 1.068-1.403 2.418-1.244 3.727a12 12 0 0 1-.833-.326c.019-1.296 1.265-2.386 1.265-3.478c0-1.2-1.414-2.185-1.414-3.353s1.519-1.866 1.519-3.12c0-1.253-.754-1.964-.754-3.244c0-1.14.4-1.89 1.09-2.718a2 2 0 0 0-.41.285a3.63 3.63 0 0 0-1.206 2.65c0 1.362.659 1.973.659 3.035s-1.549 1.9-1.549 3.111c0 1.21 1.342 2.24 1.342 3.264c0 .918-1.155 2.142-1.194 3.26a12 12 0 0 1-.693-.383c.087-1.017 1.178-1.83 1.178-2.854c0-.375-.176-.687-.323-.936c.448 1.414-1.216 2.25-1.366 3.469a12 12 0 0 1-.88-.645c.131-.225.332-.503.56-.657a8 8 0 0 1-.308-.391c-.268.163-.507.466-.66.704a12 12 0 0 1-.707-.675c.21-.264.482-.664.878-.772a9 9 0 0 1-.261-.473c-.46.122-.776.558-1.01.817a12 12 0 0 1-.603-.746c.35-.23.638-.803 1.269-.827q.079.197.167.39c.068.15.17.208.36.208c.586 0 1.493-.38 2.19-1.076c-.453-.826-.59-1.246-.59-1.677c0-1.094 1.552-2.012 1.552-3.074s-.535-1.668-.535-2.818c0-1.037.468-1.931 1.078-2.686a2.2 2.2 0 0 0-.412.33C6.781 8.7 6.34 9.683 6.34 10.589c0 1.221.459 1.723.459 2.629c0 .834-1.768 1.993-1.568 3.132c-.617.562-1.353.813-1.997.813a9 9 0 0 0 .195.7c-.725.038-1.056.656-1.44.86a12 12 0 0 1-.53-.876c.646-.068.84-.897 1.742-.834a9 9 0 0 1-.118-.665c-1.038-.07-1.274.806-1.956.843a12 12 0 0 1-.396-.948L3 15.376l-.005-.28q0-.255.014-.505c-1.168-.027-1.524.976-2.534.877a12 12 0 0 1-.241-.97c1.276.157 1.74-.916 2.888-.915a9 9 0 0 1 .202-.904c-1.392-.06-1.878 1.15-3.236.925a12 12 0 0 1-.076-.852c1.58.176 2.171-1.122 3.61-.963a8 8 0 0 1 .47-.997c-1.803-.317-2.415 1.191-4.093.96C.181 5.28 5.484.09 12 .09s11.819 5.19 12 11.663c-1.679.232-2.29-1.276-4.093-.96q.267.481.47.997c1.438-.159 2.03 1.14 3.61.963M6.84 7.718c-.884-.361-1.954-.278-2.868.31c-.142-.851-.603-1.607-1.26-2.062c-.091-.063-.185-.004-.177.102c.139 1.796-.912 3.356-2.203 4.728c1.331.4 2.464-1.314 4.19-.716A9 9 0 0 1 6.84 7.718M12 6.631c-1.114 0-2.048.63-2.292 1.445c-.02.062.006.103.078.07c.2-.09.429-.133.677-.133c.454 0 .855.167 1.092.457c.104.346.113.847-.005 1.132c-.187-.042-.255-.186-.438-.186c-.182 0-.324.128-.634.128s-.346-.146-.55-.146c-.24 0-.284.247-.284.525c0 1.242 1.142 2.95 2.356 2.95s2.354-1.708 2.354-2.95c0-.279-.057-.517-.307-.55a.76.76 0 0 1-.526.171c-.31 0-.395-.128-.578-.128c-.22 0-.198.465-.46.49c-.175-.419-.183-.957-.038-1.436c.237-.29.637-.457 1.092-.457c.248 0 .477.044.676.133c.072.033.097-.008.079-.07c-.244-.814-1.178-1.445-2.292-1.445m1.774 1.782c-.267 0-.58.082-.777.301a.3.3 0 0 0 .008.208c.485-.166.912-.173 1.119.058c.11-.1.145-.19.145-.294c0-.161-.164-.273-.495-.273m-3.898.567c.234-.234.727-.224 1.238-.035c.023-.254-.433-.533-.888-.533c-.331 0-.495.112-.495.274c0 .104.035.195.145.294m7.68-4.203c-.88.063-1.643.365-2.262.868a9 9 0 0 1 1.019-2.026c-1.12.119-2.057.529-2.74 1.229l-.536-1.403l1.188-1.048l-1.59-.113L12 .805l-.635 1.48l-1.59.112l1.187 1.049l-.534 1.402c-.684-.7-1.62-1.11-2.74-1.229a9 9 0 0 1 1.017 2.026c-.618-.503-1.382-.805-2.262-.868c.528.679.996 1.402 1.342 2.18c.04.088.124.117.214.071a8.96 8.96 0 0 1 4-.936c1.438 0 2.795.338 4.001.936c.091.046.175.017.214-.07c.347-.779.815-1.502 1.343-2.18zm1.922 5.304c1.726-.598 2.86 1.115 4.19.716c-1.291-1.372-2.341-2.932-2.202-4.729c.008-.105-.087-.165-.177-.102c-.657.456-1.119 1.212-1.26 2.062c-.914-.587-1.984-.67-2.868-.309a9 9 0 0 1 2.317 2.362'/%3E%3C/svg%3E");
    }
    li:nth-child(3) {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M21.997 18.23c0 .727-.405 2.127-1.315 2.896c-.182.14-.364.061-.284-.143c.265-.648.871-2.147.587-2.492c-.201-.262-1.031-.242-1.739-.182c-.323.041-.607.06-.827.105c-.204.016-.245-.163-.041-.303a3.1 3.1 0 0 1 .87-.428c1.15-.344 2.479-.137 2.67.083c.036.042.079.16.079.463m-1.922 1.294a7 7 0 0 1-.829.55c-2.122 1.275-4.871 1.943-7.258 1.943c-3.843 0-7.28-1.417-9.888-3.788c-.224-.182-.039-.446.223-.303c2.81 1.64 6.288 2.632 9.888 2.632c2.266 0 4.708-.424 7.035-1.336c.163-.061.345-.144.504-.202c.367-.165.69.242.325.504m-6.17-11.03c0-1.041.042-1.654-.303-2.18c-.306-.433-.833-.693-1.569-.652c-.798.044-1.655.567-1.873 1.526c-.043.22-.171.436-.437.483l-2.435-.31c-.174-.04-.439-.173-.352-.521C7.459 4.088 9.81 3.129 12.034 3h.522c1.22 0 2.788.349 3.791 1.264c1.217 1.136 1.087 2.662 1.087 4.32v3.927c0 1.178.478 1.7.958 2.314c.13.219.175.477-.044.655a78 78 0 0 1-1.917 1.654c-.175.133-.489.147-.61.045c-.77-.645-.958-1.003-1.435-1.658c-.83.871-1.527 1.352-2.356 1.613a7 7 0 0 1-1.784.216c-2.09 0-3.745-1.303-3.745-3.88c0-2.049 1.09-3.442 2.7-4.101c1.61-.66 3.95-.87 4.704-.874m-.477 5.192c.52-.872.477-1.586.477-3.185c-.652 0-1.306.045-1.871.178c-1.045.303-1.875.96-1.875 2.355c0 1.09.568 1.832 1.526 1.832q.198 0 .348-.045c.67-.186 1.088-.522 1.395-1.135'/%3E%3C/svg%3E");
    }
    li:nth-child(4) {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M0 7.2v9.6h24V7.2zm12.002 9.12C5.308 16.32.48 14.36.48 12s4.831-4.32 11.522-4.32S23.52 9.64 23.52 12s-4.824 4.32-11.518 4.32m-.225-6.062h4.176v.964c-.103-.047-.203-.047-.306-.047h-1.758v.46h1.689v.732h-1.689v.457h1.758c.103 0 .203 0 .306-.05v.967h-4.176c.052-.101.052-.198.052-.299V10.56c0-.101 0-.198-.052-.302m-7.076.302v2.881c0 .101 0 .198.052.299H2.4c.052-.101.052-.198.052-.299V10.56c0-.101 0-.198-.052-.299h2.353c-.052.101-.052.198-.052.299m6.447 2.881c.076.107.158.208.255.299H8.805c0-.101-.1-.306-.21-.467s-.705-1.044-.705-1.044v1.212c0 .101 0 .198.052.299H5.778c.052-.101.052-.198.052-.299V10.56c0-.101 0-.198-.052-.299h2.164c-.052.101-.052.198-.052.299v1.259s.691-.88.85-1.085c.12-.154.268-.373.268-.473h2.257c-.155.101-.327.282-.468.45l-.826.984s1.039 1.548 1.177 1.746m10.546-3.005a.18.18 0 0 0-.175-.178h-.21v.551h.083v-.195h.12l.11.195h.093l-.12-.212a.18.18 0 0 0 .099-.161m-.189.101h-.114v-.191h.124c.055 0 .093.047.093.101c0 .053-.048.093-.103.09m-.021-.457h-.031a.444.444 0 0 0-.437.457q0 .012-.003.023a.466.466 0 0 0 .482.447a.464.464 0 0 0 .458-.47v-.017a.454.454 0 0 0-.469-.44m0 .823a.37.37 0 0 1-.375-.366v-.027a.357.357 0 0 1 .375-.339c.206 0 .375.165.375.366s-.168.366-.375.366m-.877-.339c-.038-.101-.093-.198-.065-.299h-3.017c.014.101-.024.198-.062.299l-1.07 2.881a.9.9 0 0 1-.162.299h1.785c-.014-.101.024-.198.058-.299s.072-.198.072-.198l.021-.054h1.304l.021.05c.048.118.083.198.083.198c.041.101.079.198.069.299h2.263a.8.8 0 0 1-.169-.299a690 690 0 0 0-1.131-2.877m-2.167 1.893c.155-.42.289-.772.299-.806q.041-.112.062-.228q.026.116.069.228l.316.806z'/%3E%3C/svg%3E");
    }
    li:nth-child(5) {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12.14 4.045c-2.569 0-3.572 3.64-3.572 7.979s1.003 7.931 3.572 7.931c1.541 0 2.855-.903 2.86-1.645a.63.63 0 0 0-.199-.453c-.73-.706-1.016-1.412-1.018-2.034c-.005-1.189 1.026-2.074 1.977-2.074c1.306 0 2.077 1.027 2.077 2.357c0 1.26-.537 2.31-1.121 3.15a.2.2 0 0 0-.034.107c0 .065.04.12.098.12q.053.001.122-.065l6.561-6.344c.328-.28.537-.608.537-1.073c0-.468-.21-.794-.537-1.073l-6.561-6.346q-.069-.066-.122-.064c-.059 0-.097.055-.098.12q-.001.054.034.107c.584.84 1.12 1.89 1.12 3.15c0 1.329-.77 2.356-2.076 2.356c-.95 0-1.982-.884-1.977-2.073c.002-.622.288-1.328 1.018-2.033A.62.62 0 0 0 15 5.69c-.004-.743-1.319-1.646-2.86-1.646m-5.043.537L.537 10.93C.209 11.207 0 11.534 0 12c0 .465.21.793.537 1.073l6.56 6.345c.042.043.083.06.117.06c.062 0 .105-.057.103-.123a.2.2 0 0 0-.057-.123C5.72 17.32 4.6 15.126 4.6 12.024c0-3.104 1.12-5.341 2.66-7.255a.2.2 0 0 0 .057-.123c.002-.068-.04-.123-.103-.123c-.034 0-.075.017-.117.06'/%3E%3C/svg%3E");
    }
    li:nth-child(6) {
      width: 112px;
      height: 112px;
      background-size: contain;
      filter: invert(1);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m19.817 10.28l.046 2.694h-.023l-.78-2.693h-1.283v3.392h.848l-.046-2.785h.023l.836 2.785h1.227v-3.392zm-16.15 0l-.641 3.428h.928l.47-3.118h.023l.459 3.118h.916l-.63-3.427zm5.181 0l-.424 2.614h-.023l-.424-2.613H6.58l-.069 3.427h.86l.023-3.083h.011l.573 3.083h.871l.573-3.083h.023l.023 3.083h.86l-.08-3.427zm-7.266 2.454a.5.5 0 0 1 .011.252c-.023.114-.103.229-.332.229c-.218 0-.344-.126-.344-.31v-.332H0v.264c0 .768.607.997 1.25.997c.618 0 1.134-.218 1.214-.78c.046-.298.012-.492 0-.561c-.16-.722-1.467-.929-1.559-1.33a.5.5 0 0 1 0-.183c.023-.115.104-.23.31-.23s.32.127.32.31v.206h.86v-.24c0-.745-.676-.86-1.157-.86c-.608 0-1.112.206-1.204.757a1.04 1.04 0 0 0 .012.458c.137.71 1.364.917 1.536 1.352m11.152 0c.034.08.022.184.011.253c-.023.114-.103.229-.332.229c-.218 0-.344-.126-.344-.31v-.332h-.917v.264c0 .756.596.985 1.238.985c.619 0 1.123-.206 1.203-.779c.046-.298.012-.481 0-.562c-.137-.71-1.433-.928-1.524-1.318a.5.5 0 0 1 0-.183c.023-.115.103-.23.31-.23c.194 0 .32.127.32.31v.206h.848v-.24c0-.745-.665-.86-1.146-.86c-.607 0-1.1.195-1.192.757c-.023.149-.023.286.012.458c.137.71 1.34.905 1.513 1.352m2.888.459c.24 0 .31-.16.332-.252c.012-.035.012-.092.012-.126V10.28h.87v2.464c0 .069 0 .195-.01.23c-.058.641-.562.847-1.193.847c-.63 0-1.134-.206-1.192-.848c0-.034-.011-.16-.011-.229V10.28h.87v2.533c0 .046 0 .091.012.126c0 .091.07.252.31.252m7.152-.034c.252 0 .332-.16.355-.253c.011-.034.011-.091.011-.126v-.493h-.355v-.504H24v.917c0 .069 0 .115-.011.23c-.058.63-.597.847-1.204.847s-1.146-.217-1.203-.848c-.012-.114-.012-.16-.012-.229v-1.444c0-.057.012-.172.012-.23c.08-.641.596-.847 1.203-.847s1.135.206 1.203.848c.012.103.012.229.012.229v.115h-.86v-.195s0-.08-.011-.126c-.012-.08-.08-.252-.344-.252c-.252 0-.32.16-.344.252c-.011.045-.011.103-.011.16v1.57c0 .046 0 .092.011.126c0 .092.092.253.333.253'/%3E%3C/svg%3E");
      @media screen and (max-width: 1024px) {
        width: 64px;
        height: 64px;
      }
    }
  }
}

.highlights, .stats, .testimonials, .cta {
  margin-bottom: 164px;
}