@import 'utils/variables';

@import 'components/type';
@import 'components/nav';
@import 'components/footer';

@import 'pages/home';
@import 'pages/login';



::selection {
  background: rgba($blue, 0.5);
  color: $text-color;
  opacity: 0.5;
}

h1::selection {
  color: inherit; 
  background-color: rgba($blue, 0.5);
}

body {
  background-color: $bg-color;
  color: $text-color;
  margin: 0;
  overflow-x: hidden;
}

main {
  min-height: 100vh;
}

