@mixin nav-links($font-size: 15px, $opacity: .7) {
  font-size: $font-size;
  color: $text-color;
  text-decoration: none;
  opacity: $opacity;
  transition: all .3s ease;
  &:hover {
    opacity: 1;
  }
}

@mixin gradient-line($color: $purple) {
  content: '';
  position: absolute;
  bottom: -1rem;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, $color 0%, transparent 100%);
  border-radius: 50px;
}

@mixin cta() {
  padding: 0.5rem 1rem;
  border-radius: 50px;
  @include nav-links(15px, 1);
  background: radial-gradient(50% 35.71% at 50% 100%, #3F3CA0 0%, transparent 100%);
  background-color: $blue;
  transition: all .5s ease;
  &:hover {
    background-color: $dark-blue;
    transition: all .5s ease;
  }
}